<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <title>6-4. 유틸리티 라이브러리</title>
    </head>
    <body>
        <div class="container">
		<h1>Let's hear some stories!</h1>
			<div>
				<!-- computed property -->
				<ul class="list-group">
					<li v-for="story in orderedStories" class ="list-group-item">
						{{story.writer}} said "{{story.plot}}" and upvoted {{story.upvotes}} times.
					</li>
				</ul>
				


				<!-- Without using the computed property. -->
				<ul class="list-group">
					<li v-for="(story, index) in _.orderBy(stories, ['upvotes'], [order])" :key="index" class="list-group-item">
				    	{{ story.writer }} said "{{ story.plot }}" and upvoted {{ story.upvotes }} times.
					</li>
				</ul>

				
				<button @click="reverseOrder">Reverse Order</button>
			</div>
			<pre>
				{{ $data }}
			</pre>
		</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
	<script>
		new Vue({
			el:'.container',
			data:{
				stories: [			
					{
						plot: "I crashed my car today!",
						writer: "Alex",
						upvotes:28
					},
					{
						plot:"Yesterday, someone stole my bag!",
						writer: "John",
						upvotes:8
					},
					{		
						plot:"I ate someone's chocolate!",
						writer:"Alex",
						upvotes:51
					},
					{		
						plot:"Someone ate my chocolate...",
						writer:"John",
						upvotes:74
					},
				],
				order : 'desc'
			},
			methods: {
				reverseOrder:function() {
					this.order = (this.order === 'desc') ? 'acs' : 'desc'
				}
			},
			computed: {
				orderedStories: function() {
					var order = this.order;
					return _.orderBy(this.stories, 'upvotes', [order])
				}
			}
		})
	</script>
</html>