<html>
<head>
<link herf="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<title>4-4 예제 : 객체 프로퍼티 순회</title>
</head>
<body>
	<div class="container">
		<h1>이야기 좀 들어봐</h1>
		<ul class="list-group">
			<li v-for="value in story" class ="list-group-item">
				{{value}}
			</li>
		</ul>
		<br>
		<ul class="list-group">
			<li v-for="(value, key, index) in story" class ="list-group-item">
				{{index}} :: {{key}} :: {{value}}
			</li>
		</ul>
	</div>
	<pre>
		{{ $data }}
	</pre>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script>
	new Vue({
		el:'.container',
		data:{
			story : {
				plot: "오늘 차사고 냈다",
				writer: "Alex",
				upvotes: 47
			}
		}
	})
</script>
</html>